.menuLogo {
  display: block;
  width: 2rem;
}

.input {
  display: flex;
  justify-content: center;
}

.input-box {
  text-align: center;
  width: 50%;
}

.titleName,
.toDoItem,
.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: inline-flex;
  justify-content: center;
}

.title-button,
.title-icon {
  display: inline-flex;
  width: 5rem;
}

.icon-checklist {
  display: inline-flex;
  width: 2.32rem;
  height: 2rem;
}

.icon-completed {
  display: inline-flex;
  width: 2.04rem;
  height: 2rem;
}
.icon-deleted {
  display: inline-flex;
  width: 2.4rem;
  height: 2rem;
}

.delete,
.restore {
  display: inline-flex;
  width: 1rem;
  justify-content: start;
}

p {
  display: inline-flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown,
button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 0.2rem;
  left: 2.5rem;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
